.wrapper
  header
    .header-inner
      .header-content
        span.header-title Собственный форум
        span.header-subtitle Теплая стройка
  .navigation
    .menu
      nav
        ul
          li
            a(href="#") Темы
          li
            a(href="#") Форум
          li
            a(href="#") Контакты
      .account
        a(href="#") Войти
        a(href="#") Регистрация
  main
    .content
      block content
  footer
    .footer-inner
      .footer-content
        span.footer-title Собственный форум
        address.contacts
          div
            | Телефон:
            a(href="tel:+78129999812", target="_blank", rel="noopener", title="Многоканальный телефонный номер центрального офиса в Санкт-Петербурге") (812) 9999-812
          div
            | Электронная почта:
            a(href="mailto:info@9999812.ru", target="_blank", rel="noopener", title="Адрес официальной электронной почты СК ТеплоСтрой") info@9999812.ru
        .copyright © 2025. Все права защищены
