extends layout.pug

block content
  -
    const messages = [
      { date: "03.01.2025 в 00:19", title: 'Костромин М. А ', message: "Наверное основная рекомендация, оставляя загородный дом в дачном массиве на зимовку дез жильцов - это убрать максимальное количество предметов от посторонних глаз - пустые участки меньше привлекают внимания." },
      { date: "05.01.2025 в 01:19", title: 'Никитин Л. Н ', message: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписали раз необходимыми, реторический залетают прямо однажды! Которой продолжил раз которое ему составитель прямо? Парадигматическая послушавшись все решила предупредила семь." },
      { date: "05.01.2025 в 02:19", title: 'Никитин Л. Н ', message: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписали раз необходимыми, реторический залетают прямо однажды! Которой продолжил раз которое ему составитель прямо? Парадигматическая послушавшись все решила предупредила семь." },
      { date: "05.01.2025 в 01:19", title: 'Никитин Л. Н ', message: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рекламных безорфографичный свой они свою строчка выйти предложения реторический грустный взгляд! Меня напоивший пунктуация предложения единственное страна ipsum гор своих пор знаках если, буквенных lorem текстами ему маленький грамматики маленькая проектах взгляд несколько, первую своего рот назад приставка? Своих встретил текст за образ путь ее предупреждал он взобравшись единственное." },
      { date: "05.01.2025 в 12:24", title: 'Никитин Л. Н ', message: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рекламных безорфографичный свой они свою строчка выйти предложения реторический грустный взгляд! Меня напоивший пунктуация предложения единственное страна ipsum гор своих пор знаках если, буквенных lorem текстами ему маленький грамматики маленькая проектах взгляд несколько, первую своего рот назад приставка? Своих встретил текст за образ путь ее предупреждал он взобравшись единственное." },
    ]

  h1 Сохранность имущества в загородном доме зимой
  #forum
    each message in messages
      div.forum-message
        .message-title #{message.date + ' ' +message.title}
        .message= message.message
  .message-count Количество сообщений: #{messages.length}
  h2 Написать сообщение
  form.add-message
    div(class="form-element")
      label
        .input-title Заголовок:
        input(type="text", name="title")
    div(class="form-element")
      label
        .input-title Текст:
        textarea(name="body", rows="5")
    div(class="form-element")
      button(type="submit") Отправить
