extends layout.pug

block content
  h1 test
  .desc
  .
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eveniet rerum, quis velit perferendis aut quas suscipit doloremque repellat vero tempora qui neque alias provident autem, adipisci cum officiis repudiandae!
