extends layout.pug

block content
  -
    const messages = [
      { date: "03.01.2025 в 00:19", title: '7705 Костромин М. 78.25.121.248', message: "Наверное основная рекомендация, оставляя загородный дом в дачном массиве на зимовку дез жильцов - это убрать максимальное количество предметов от посторонних глаз - пустые участки меньше привлекают внимания." },
      { date: "03.01.2025 в 00:19", title: '7705 Костромин М. 78.25.121.248', message: "Наверное основная рекомендация, оставляя загородный дом в дачном массиве на зимовку дез жильцов - это убрать максимальное количество предметов от посторонних глаз - пустые участки меньше привлекают внимания." },
      { date: "03.01.2025 в 00:19", title: '7705 Костромин М. 78.25.121.248', message: "Наверное основная рекомендация, оставляя загородный дом в дачном массиве на зимовку дез жильцов - это убрать максимальное количество предметов от посторонних глаз - пустые участки меньше привлекают внимания." },
    ]

  h1 Сохранность имущества в загородном доме зимой
  #forum
    each message in messages
      div(class="forum-message")
        strong= message.date
        .message-title= message.title
        .message= message.message
  .message-count Количество сообщений: #{messages.length}
  h2 Написать сообщение
  form.add-message
    div(class="form-element")
      label.required
        div Заголовок:
        input.textinputs(type="text", name="title")
    div(class="form-element")
      label.required
        div Текст:
        textarea(name="body")
    div(class="form-element")
      input.button(type="submit", value="Отправить")
